#datasets
dataset*/

#virtual_environments
venv/
.venv/

#pycache
**/__pycache__/
__pycache__
__pycache__/

#Roys gitignore
**/images_first_try/
**/combined_images
combined_images

#Nics gitignore
**/temp_images/